<div class="armor-harm">
  <div class="harm">
    <h3>{{localize 'BITD.HarmandArmor'}} </h3>
    <table>
      <tr>
        <td>3</td>
        <td><input class="clear-input" name="system.harm.heavy" type="text" value="{{system.harm.heavy}}"/></td>
        <td>{{localize 'BITD.HarmEffect.Light'}}</td>
      </tr>
      <tr>
        <td>2</td>
        <td>
          <input class="clear-input" name="system.harm.medium.first" type="text" value="{{system.harm.medium.first}}"/>
          <input class="clear-input" name="system.harm.medium.second" type="text" value="{{system.harm.medium.second}}"/>
        </td>
        <td>{{localize 'BITD.HarmEffect.Medium'}}</td>
      </tr>
      <tr>
        <td>1</td>
        <td>
          <input class="clear-input" name="system.harm.light.first" type="text" value="{{system.harm.light.first}}"/>
          <input class="clear-input" name="system.harm.light.second" type="text" value="{{system.harm.light.second}}"/>
        </td>
        <td>{{localize 'BITD.HarmEffect.Heavy'}}</td>
      </tr>
    </table>
  </div>

  <div class="armor flexrow">
    <div class="armor-uses">
      <label for="system.usedArmor.armor">{{localize 'BITD.Armor'}}</label>
      <input type="checkbox" name="system.usedArmor.armor" data-dtype="Boolean" {{#if system.usedArmor.armor}} checked {{/if}}/>
    </div>
    <div class="armor-uses">
      <label for="system.usedArmor.special">{{localize 'BITD.ArmorHeavy'}}</label>
      <input type="checkbox" name="system.usedArmor.special" data-dtype="Boolean" {{#if system.usedArmor.special}} checked {{/if}}/>
    </div>
    <div class="armor-uses">
      <label for="system.usedArmor.heavy">{{localize 'BITD.ArmorSpecial'}}</label>
      <input type="checkbox" name="system.usedArmor.heavy" data-dtype="Boolean" {{#if system.usedArmor.heavy}} checked {{/if}}/>
    </div>
  </div>
</div>
