<div class="attribute-block grid-3col">
  {{#each system.attributes as |attribute key|}}
    <div class="attribute {{key}}">
      <h3 class="attribute-name bitd-header rollable" data-roll-type="resistance" data-roll-note="{{key}}" data-tooltip="{{getLocalizeDescription 'attribute' key}}">{{getLocalizeName key}}</h3>
      <div class="value-step-block exp-block" data-value="{{attribute.exp}}" data-key="system.attributes.{{key}}.exp">
        {{#numLoop 6}}
          <span class="value-step value-tooth simple-red-tooth" data-index="{{this}}"></span>
        {{/numLoop}}
      </div>
      {{#each attribute.actions as |action subKey|}}
        <div class="action {{subKey}}">
          <div class="value-step-block" data-value="{{action.value}}" data-key="system.attributes.{{key}}.actions.{{subKey}}.value">
            {{#numLoop action.max}}
              <span class="value-step value-dot" data-index="{{this}}"></span>
            {{/numLoop}}
          </div>
          <label class="action-label rollable" data-roll-type="action" data-roll-note="{{subKey}}" data-tooltip="{{getLocalizeDescription 'action' subKey}}">{{getLocalizeName subKey}}</label>
        </div>
      {{/each}}
    </div>
  {{/each}}
</div>
