<div class="contacts items-block">
  <h3 class="item-header bitd-header contacts-title">{{localize 'BITD.Contact.Plural'}}</h3>
  <ol class="items-list" data-array="contacts">
    {{#each system.contacts as |contact|}}
      <li class="item {{contact.type}}" data-id="{{contact.id}}">
        <div class="item-description">
          {{#if contact.relationship includeZero=true}}
            <div class="relationship" data-value="{{contact.relationship}}" data-index="{{@index}}">
              <i class="fa-solid fa-dash set-relationship special" data-value="2"></i>
              <i class="fa fa-caret-up set-relationship friend" data-value="1" aria-hidden="true"></i>
              <i class="fa fa-caret-down set-relationship rival" data-value="-1" aria-hidden="true"></i>
              <i class="fa-brands fa-creative-commons-zero set-relationship zero" data-value="0"></i>
            </div>
          {{/if}}
          <span class="item-name">{{contact.name}}</span>
        </div>

        <div class="item-controls">
          <a class="item-control actor-open" title="{{localize 'BITD.Link.Open'}}" data-uuid="{{contact.uuid}}"><i class="fa fa-external-link"></i></a>
          <a class="item-control actor-delete" title="{{localize 'BITD.Link.Delete'}}"><i class="fas fa-trash"></i></a>
        </div>
      </li>
    {{/each}}
  </ol>
</div>
