<div class="contacts items-block">
  <h3 class="item-header bitd-header contacts-title">{{localize 'BITD.Contact.Plural'}}</h3>
  <ol class="items-list" data-array="relationship">
    {{#each system.relationship}}
      <li class="item {{this.type}}" data-id="{{this.id}}">
        <div class="item-description">
          <span class="item-name">{{this.name}}</span>
        </div>

        <div class="item-controls">
          <a class="item-control actor-open" title="{{localize 'BITD.Link.Open'}}" data-uuid="{{this.uuid}}"><i class="fa fa-external-link"></i></a>
          <a class="item-control actor-delete" title="{{localize 'BITD.Link.Delete'}}"><i class="fas fa-trash"></i></a>
        </div>
      </li>
    {{/each}}
  </ol>
</div>
