<div class="related-faction items-block{{#if isFaction}} prop-field{{/if}}">
  <h3 class="bitd-header">{{localize 'BITD.Factions'}}</h3>
  <ol class="items-list" data-array="relatedFactions">
    {{#each system.relatedFactions as |faction|}}
      <li class="item faction" data-id="{{faction.id}}">
        <div class="item-description">
          <span class="item-name">{{faction.name}}</span>
          <div class="tier">
            <span>{{localize 'BITD.Tier'}}</span>
            <span class="tier-styled" style="--tier:{{faction.tier}}"></span>
          </div>
          <select class="clear-select set-status" data-index="{{@index}}">
            {{selectOptions @root.config.statusTypes selected=faction.status localize=true}}
          </select>
        </div>
        <div class="item-controls">
          {{#if ../isFaction}}
            <input class="show-link" type="checkbox" title="{{localize 'BITD.ShowForPlayers.Title'}}" data-index="{{@index}}" data-value="{{faction.show}}"></input>
          {{/if}}
          <a class="item-control actor-open" title="{{localize 'BITD.Link.Open'}}" data-uuid="{{faction.uuid}}"><i class="fa fa-external-link"></i></a>
          <a class="item-control actor-delete" title="{{localize 'BITD.Link.Delete'}}"><i class="fas fa-trash"></i></a>
        </div>
      </li>
    {{/each}}
  </ol>
</div>
