<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="img-block grid-2col">
      <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>

      <div class="load">
        <select name="system.load">
          {{#select system.load}}
            <option value="3">{{localize 'BITD.Load.Light'}}</option>
            <option value="5">{{localize 'BITD.Load.Normal'}}</option>
            <option value="6">{{localize 'BITD.Load.Heavy'}}</option>
            <option value="9">{{localize 'BITD.Load.Encumbered'}}</option>
          {{/select}}
        </select>
      </div>

      <div class="money detail-window">
        <a class="money-icon detail-trigger"><img src="/systems/bitd/assets/icons/coins.svg"/></a>
        <div class="money-numbers">
          <span class="coins">{{system.coins}}</span>
          <span>/</span>
          <span class="stash">{{system.stash}}</span>
        </div>
        <div class="money-block detail-block">
          <div class="value-step-block coins" data-value="{{system.coins}}" data-key="system.coins">
            {{#numLoop 4}}
              <span class="value-step value-box" data-index="{{this}}"></span>
            {{/numLoop}}
          </div>
          <div class="value-step-block stash" data-value="{{system.stash}}" data-key="system.stash">
            {{#numLoop 40}}
              <span class="value-step value-box" data-index="{{this}}"></span>
            {{/numLoop}}
          </div>
        </div>
      </div>
    </div>

    <div class="header-fields">
      <div class="name-alias">
        <h1 class="character-name">
          <input class="clear-input" name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'BITD.ActorName'}}" data-dtype="String"/>
        </h1>
        <h2 class="character-alias">
          <input class="clear-input" name="system.alias" type="text" value="{{system.alias}}" placeholder="{{localize 'BITD.CharacterAlias'}}" data-dtype="String"/>
        </h2>
      </div>

      <div class="brief-info grid-2col">
        <div class="prop">
          <label class="prop-label" for="system.heritage">{{localize 'BITD.Heritage'}}:</label>
          <input class="prop-input clear-input" type="text" name="system.heritage" value="{{system.heritage}}" data-dtype="String" placeholder="{{localize 'BITD.Heritage'}}"/>
        </div>
        <div class="prop">
          <label class="prop-label" for="system.background">{{localize 'BITD.Background'}}:</label>
          <input class="prop-input clear-input" type="text" name="system.background" value="{{system.background}}" data-dtype="String" placeholder="{{localize 'BITD.Background'}}"/>
        </div>
        <div class="prop">
          <label class="prop-label" for="system.vice">{{localize 'BITD.Vice'}}:</label>
          <input class="prop-input clear-input" type="text" name="system.vice" value="{{system.vice}}" data-dtype="String" placeholder="{{localize 'BITD.Vice'}}"/>
        </div>
        <div class="prop">
          <label class="prop-label" for="system.look">{{localize 'BITD.Look'}}:</label>
          <input class="prop-input clear-input" type="text" name="system.look" value="{{system.look}}" data-dtype="String" placeholder="{{localize 'BITD.Look'}}"/>
        </div>
      </div>

      {{> "systems/bitd/templates/actor/parts/stress-trauma.hbs"}}
      {{> "systems/bitd/templates/actor/parts/attributes.hbs"}}
    </div>

    {{> "systems/bitd/templates/actor/parts/contacts.hbs"}}
    {{> "systems/bitd/templates/actor/parts/armor-harm.hbs"}}

  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs flexrow" data-group="primary">
    <a class="item" data-tab="general">{{localize 'BITD.Playbook'}}</a>
    <a class="item" data-tab="notes">{{localize 'BITD.Notes'}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Playbook Tab --}}
    <div class="tab general" data-group="primary" data-tab="general">
      {{> "systems/bitd/templates/actor/parts/inventory.hbs"}}
      {{> "systems/bitd/templates/actor/parts/abilities.hbs"}}
    </div>

    {{!-- Owned Notes Tab --}}
    <div class="tab notes" data-group="primary" data-tab="notes">
    </div>

  </section>
</form>
