<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header character-grid">
    <div class="img-block grid-2col">
      <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>

      <div class="money">
        <div class="resource coins">
          <label for="system.coins">{{localize 'BITD.Coins'}}:</label>
          <input class="clear-input" type="number" name="system.coins" value="{{system.coins}}" data-dtype="Number"/>
          <span>/4</span>
        </div>
        <div class="resource stash">
          <label for="system.stash">{{localize 'BITD.Stash'}}:</label>
          <input class="clear-input" type="number" name="system.stash" value="{{system.stash}}" data-dtype="Number"/>
          <span>/30</span>
        </div>
      </div>

      <div class="load">
        <span>{{localize 'BITD.Load.Title'}}: 0/{{system.load}}</span>
        <select class="clear-select" name="system.load">
          {{#select system.load}}
            <option value="3">{{localize 'BITD.Load.Light'}}</option>
            <option value="5">{{localize 'BITD.Load.Normal'}}</option>
            <option value="6">{{localize 'BITD.Load.Heavy'}}</option>
          {{/select}}
        </select>
      </div>
    </div>

    <div class="header-fields">
      <div class="name-alias grid-2col">
        <h1 class="character-name">
          <input class="clear-input" name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'BITD.ActorName'}}" data-dtype="String"/>
        </h1>
        <h2 class="character-alias">
          <input class="clear-input" name="system.alias" type="text" value="{{system.alias}}" placeholder="{{localize 'BITD.CharacterAlias'}}" data-dtype="String"/>
        </h2>
      </div>

      <div class="brief-info grid-2col">
        <div class="prop">
          <label class="prop-label" for="system.heritage">{{localize 'BITD.Heritage'}}:</label>
          <input class="prop-input clear-input" type="text" name="system.heritage" value="{{system.heritage}}" data-dtype="String" placeholder="{{localize 'BITD.Heritage'}}"/>
        </div>
        <div class="prop">
          <label class="prop-label" for="system.vice">{{localize 'BITD.Vice'}}:</label>
          <input class="prop-input clear-input" type="text" name="system.vice" value="{{system.vice}}" data-dtype="String" placeholder="{{localize 'BITD.Vice'}}"/>
        </div>
        <div class="prop">
          <label class="prop-label" for="system.background">{{localize 'BITD.Background'}}:</label>
          <input class="prop-input clear-input all-row" type="text" name="system.background" value="{{system.background}}" data-dtype="String" placeholder="{{localize 'BITD.Background'}}"/>
        </div>
        <div class="prop">
          <label class="prop-label" for="system.look">{{localize 'BITD.Look'}}:</label>
          <input class="prop-input clear-input all-row" type="text" name="system.look" value="{{system.look}}" data-dtype="String" placeholder="{{localize 'BITD.Look'}}"/>
        </div>
      </div>

      {{> "systems/bitd/templates/actor/parts/attributes.hbs"}}
      {{> "systems/bitd/templates/actor/parts/stress-trauma.hbs"}}
    </div>

    {{> "systems/bitd/templates/actor/parts/contacts.hbs"}}
    {{> "systems/bitd/templates/actor/parts/harm.hbs"}}

  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs flexrow" data-group="primary">
    <a class="item" data-tab="general">
      {{#if playbook}}
        {{playbook.name}}
      {{else}}
        {{localize 'BITD.Playbook'}}
      {{/if}}
    </a>
    <a class="item" data-tab="notes">{{localize 'BITD.Notes'}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Playbook Tab --}}
    <div class="tab general" data-group="primary" data-tab="general">
      <div class="general-container character-grid">
        <div class="spec-inventory items-block">
          <div class="item-header bitd-header">
            <h3>{{localize 'BITD.InventorySpecial'}}</h3>
            <a class="item-create" title="{{localize 'BITD.ItemAdd'}}" data-type="tool"><i class="fas fa-plus"></i></a>
          </div>
          <ol class="items-list">
            {{#each specInventory as |item id|}}
              {{> "systems/bitd/templates/actor/parts/inventory.hbs" item=item}}
            {{/each}}
          </ol>
        </div>

        <div class="inventory items-block">
          <div class="item-header bitd-header">
            <h3>{{localize 'BITD.Inventory'}}</h3>
            <a class="item-create" title="{{localize 'BITD.ItemAdd'}}" data-type="tool"><i class="fas fa-plus"></i></a>
          </div>
          <ol class="items-list">
            {{#each inventory as |item id|}}
              {{> "systems/bitd/templates/actor/parts/inventory.hbs" item=item}}
            {{/each}}
          </ol>
        </div>

        {{> "systems/bitd/templates/actor/parts/abilities.hbs"}}
      </div>
    </div>

    {{!-- Owned Notes Tab --}}
    <div class="tab notes" data-group="primary" data-tab="notes">
      {{> "systems/bitd/templates/actor/parts/character-notes.hbs"}}
    </div>

  </section>
</form>
