<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="img-block">
      <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
    </div>

    <div class="header-fields">
      <div class="name-alias">
        <h1 class="character-name">
          <input class="clear-input" name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'BITD.ActorName'}}"/>
        </h1>
        <h2 class="character-alias">
          <input class="clear-input" name="alias" type="text" value="{{system.alias}}" placeholder="{{localize 'BITD.CharacterAlias'}}"/>
        </h2>
      </div>

      <div class="brief-info grid-2col">
        <div class="prop flexrow">
          <label class="prop-label" for="system.heritage">{{localize 'BITD.Heritage'}}:</label>
          <input class="prop-input clear-input" type="text" name="system.heritage" value="{{system.heritage}}" data-dtype="String" placeholder="{{localize 'BITD.Heritage'}}"/>
        </div>
        <div class="prop flexrow">
          <label class="prop-label" for="system.background">{{localize 'BITD.Background'}}:</label>
          <input class="prop-input clear-input" type="text" name="system.background" value="{{system.background}}" data-dtype="String" placeholder="{{localize 'BITD.Background'}}"/>
        </div>
        <div class="prop flexrow">
          <label class="prop-label" for="system.vice">{{localize 'BITD.Vice'}}:</label>
          <input class="prop-input clear-input" type="text" name="system.vice" value="{{system.vice}}" data-dtype="String" placeholder="{{localize 'BITD.Vice'}}"/>
        </div>
        <div class="prop flexrow">
          <label class="prop-label" for="system.look">{{localize 'BITD.Look'}}:</label>
          <input class="prop-input clear-input" type="text" name="system.look" value="{{system.look}}" data-dtype="String" placeholder="{{localize 'BITD.Look'}}"/>
        </div>
      </div>

      <div class="stress-block">
        Stress
      </div>

      {{> "systems/bitd/templates/actor/parts/attributes.hbs"}}
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <hr>
    <div class="items-block">
      <div class="item-header">
        <h3>{{localize 'TYPES.Item.item'}}</h3>
        <a class="item-add item-create" title="{{localize 'BITD.ItemAdd'}}" data-type="item"><i class="fas fa-plus"></i>{{localize 'BITD.ItemAdd'}}</a>
      </div>
      <ol class="items-list">
        {{#each item as |item id|}}
          <li class="item {{item.type}}" data-item-id="{{item._id}}">
            <div class="item-info flexrow">
              <a class="item-image rollable" data-roll-type="item" style="background-image: url({{item.img}})"></a>
              <h4 class="item-name">{{item.name}}</h4>
            </div>
            <div class="item-summary">
              {{{item.system.description}}}
            </div>
            <div class="item-controls">
              <a class="item-control rollable" data-roll-type="show" title="{{localize 'ROGUE.ItemShow'}}"><i class="fa fa-comment"></i></a>
              <a class="item-control item-edit" title="{{localize 'BITD.ItemEdit'}}"><i class="fas fa-edit"></i></a>
              <a class="item-control item-delete" title="{{localize 'BITD.ItemDelete'}}"><i class="fas fa-trash"></i></a>
            </div>
          </li>
        {{/each}}
      </ol>
    </div>
    <h2>{{localize 'BITD.Notes'}}</h2>
    {{editor system.notes target="system.notes" button=true owner=owner editable=editable}}
  </section>
</form>
