<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header actor-grid">
    <div class="type-container">
      <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
      <div class="crew-type">
        <h1>
          {{#if playbook}}
            {{playbook.name}}
          {{else}}
            {{localize 'BITD.CrewType'}}
          {{/if}}
        </h1>
        {{#if playbook}}
          <p class="playbook-description">{{playbook.system.summary}}</p>
        {{/if}}
      </div>
    </div>

    <div class="name-container">
      <h1 class="crew-name">
        <input class="clear-input" name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'BITD.CrewName'}}"/>
      </h1>

      <div class="brief-info grid-2col">
        <div class="prop">
          <label class="prop-label" for="system.lair">{{localize 'BITD.Lair'}}</label>
          <input class="prop-input clear-input all-width" type="text" name="system.lair" value="{{system.lair}}" placeholder="{{localize 'BITD.Lair'}}"/>
        </div>

        <div class="prop">
          <label class="prop-label" for="system.reputation.type">{{localize 'BITD.RepType'}}</label>
          <input class="prop-input clear-input all-width" type="text" name="system.reputation.type" value="{{system.reputation.type}}" placeholder="{{localize 'BITD.RepDescription'}}"/>
        </div>
      </div>
    </div>

    <div class="hunting-ground">
      <h3 class="bitd-header">
        {{#if system.hunting.customName}}
          {{system.hunting.customName}}
        {{else}}
          {{localize 'BITD.HuntingGround.Title'}}
        {{/if}}
      </h3>
      <a class="edit-hunting-ground" title="{{localize 'BITD.HuntingGround.Edit'}}"><i class="fas fa-edit"></i></a>
      <p class="ground" name="system.hunting.ground">{{{system.hunting.ground}}}</p>
      <label class="operation-header" for="system.hunting.operation">{{localize 'BITD.HuntingGround.Operation'}}</label>
      <p class="operation" name="system.hunting.operation">{{system.hunting.operation}}</p>
    </div>

    <div class="header-fields">

      <div class="storage">
        <label for="system.coins">{{localize 'BITD.Coins'}}:</label>
        <input class="clear-input" type="number" name="system.coins.value" value="{{system.coins.value}}" data-dtype="Number"/>
        <span>/{{system.coins.max}}</span>
      </div>

      <div class="heat-block">
        <div class="heat flexrow">
          <h3 class="bitd-header flexshrink">{{localize 'BITD.Heat'}}</h3>
          <div class="value-step-block" data-value="{{system.heat.value}}" data-key="system.heat.value">
            {{#numLoop system.heat.max}}
              <span class="value-step value-tooth red-tooth" data-index="{{this}}"></span>
            {{/numLoop}}
          </div>
        </div>
        <div class="wanted-lvl">
          <h3 class="bitd-header">{{localize 'BITD.WantedLvl'}}</h3>
          <div class="value-step-block" data-value="{{system.wanted.value}}" data-key="system.wanted.value">
            {{#numLoop system.wanted.max}}
              <span class="value-step value-tooth small-tooth" data-index="{{this}}"></span>
            {{/numLoop}}
          </div>
        </div>
      </div>

      <div class="tier-block">
        <div class="hold">
          <label for="system.hold">{{localize 'BITD.Hold.Title'}}</label>
          <select class="clear-select" name="system.hold">
            {{selectOptions config.holdTypes selected=system.hold localize=true}}
          </select>
        </div>
        <div class="tier">
          <label for="system.tier" class="rollable" data-roll-type="fortune" data-roll-note="{{system.tier.value}}">{{localize 'BITD.Tier'}}</label>
          <div class="value-step-block" data-value="{{system.tier.value}}" data-key="system.tier.value">
            {{#numLoop system.tier.max}}
              <span class="value-step value-dot" data-index="{{this}}"></span>
            {{/numLoop}}
          </div>
        </div>
      </div>

      <div class="reputation-block">
        <div class="reputation">
          <h3 class="bitd-header">{{localize 'BITD.Rep'}}</h3>
          <div class="value-step-block" data-value="{{system.reputation.value}}" data-key="system.reputation.value">
            {{#numLoop system.reputation.max}}
              <span class="value-step value-tooth red-tooth" data-index="{{this}}"></span>
            {{/numLoop}}
          </div>
        </div>
        <div class="turf bitd-header">
          <h3>{{localize 'BITD.Turf'}}:</h3>
          <input class="clear-input" type="number" name="system.turf.value" value="{{system.turf.value}}"/>
        </div>
      </div>

    </div>

    <div class="exp-block">
      <h3 class="bitd-header">{{localize 'BITD.CrewExp.ShortTitle'}}</h3>
      <p class="bitd-subheader">{{localize 'BITD.CrewExp.HowItWorks'}}</p>
      <div class="value-step-block" data-value="{{system.exp.value}}" data-key="system.exp.value">
        {{#numLoop system.exp.max}}
          <span class="value-step value-tooth simple-red-tooth" data-index="{{this}}"></span>
        {{/numLoop}}
      </div>
      <ul class="exp-tips">
        <li>{{playbook.system.exp}}</li>
        {{{localize 'BITD.CrewExp.Tips'}}}
      </ul>
    </div>

  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs flexrow" data-group="primary">
    <a class="item" data-tab="claims">{{localize 'BITD.Crew.Tabs.Claims'}}</a>
    <a class="item" data-tab="prison">{{localize 'BITD.Crew.Tabs.Prison'}}</a>
    <a class="item" data-tab="abilities">{{localize 'BITD.Crew.Tabs.Abilities'}}</a>
    <a class="item" data-tab="contacts">{{localize 'BITD.Crew.Tabs.Contacts'}}</a>
    <a class="item" data-tab="notes">{{localize 'BITD.Crew.Tabs.Notes'}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Claims Tab --}}
    <div class="tab claims" data-group="primary" data-tab="claims">
      {{> "systems/bitd/templates/actor/parts/claims-map.hbs" claim=claims itemType="claim" container="claims"}}
    </div>

    {{!-- Owned Prisons Claims Tab --}}
    <div class="tab prison" data-group="primary" data-tab="prison">
      {{> "systems/bitd/templates/actor/parts/claims-map.hbs" claim=prison type="prisonClaim" container="prison"}}
      <div class="load-prison-block align-center"><a class="load-prison">{{localize 'BITD.Claim.LoadPrison'}}</a></div>
    </div>

    {{!-- Owned Abilities and Upgrades Tab --}}
    <div class="tab abilities-tab" data-group="primary" data-tab="abilities">
      <div class="general-container grid-2col">

        <div class="spec-upgrades items-block full-size">
          <div class="item-header bitd-header">
            <a class="item-create" title="{{localize 'BITD.Item.Add'}}" data-type="upgrade"><i class="fas fa-plus"></i></a>
            <h3>{{localize 'BITD.Upgrade.SpecialPlural'}}</h3>
          </div>
          <ol class="items-list">
            {{#each specUpgrades as |item id|}}
              {{> "systems/bitd/templates/actor/parts/upgrades.hbs" item=item}}
            {{/each}}
          </ol>
        </div>

        <div class="upgrades items-block full-size">
          <div class="item-header bitd-header">
            <a class="item-create" title="{{localize 'BITD.Item.Add'}}" data-type="upgrade"><i class="fas fa-plus"></i></a>
            <h3>{{localize 'BITD.Upgrade.Plural'}}</h3>
          </div>
          <ol class="items-list">
            {{#each upgrades as |item id|}}
              {{> "systems/bitd/templates/actor/parts/upgrades.hbs" item=item}}
            {{/each}}
          </ol>
        </div>

        <div class="abilities items-block full-size">
          <div class="item-header bitd-header">
            <a class="item-create" title="{{localize 'BITD.Item.Add'}}" data-type="abilityCrew"><i class="fas fa-plus"></i></a>
            <h3>{{localize 'BITD.Ability.Plural'}}</h3>
          </div>
          {{> "systems/bitd/templates/actor/parts/abilities.hbs"}}
        </div>
      </div>
    </div>

    {{!-- Owned Contacts and Cohorts Tab --}}
    <div class="tab contacts-tab" data-group="primary" data-tab="contacts">
      <div class="contacts-container actor-grid">
        <div class="contacts items-block">
          <h3 class="item-header bitd-header contacts-title">{{localize 'BITD.Contact.Plural'}}</h3>
          {{> "systems/bitd/templates/actor/parts/contacts.hbs"}}
        </div>
        <div>
          {{> "systems/bitd/templates/actor/parts/cohorts.hbs"}}
          {{> "systems/bitd/templates/actor/parts/factions.hbs"}}
        </div>
      </div>
    </div>

    {{!-- Owned Notes Tab --}}
    <div class="tab crew-notes" data-group="primary" data-tab="notes">
      <div class="notes-container">
        {{> "systems/bitd/templates/actor/parts/goals.hbs"}}

        <div class="description">
          <h3 class="bitd-header">{{localize 'BITD.Notes'}}</h3>
          {{editor enrichedDescription target="system.description" rollData=rollData button=true engine="prosemirror" editable=editable collaborate=true}}
        </div>
      </div>
    </div>

  </section>
</form>
