<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header actor-grid">
    <div class="crew-type">
      <h1>
        {{#if playbook}}
          {{playbook.name}}
        {{else}}
          {{localize 'BITD.CrewType'}}
        {{/if}}
      </h1>
    </div>

    <h1 class="crew-name">
      <input class="clear-input" name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'BITD.CrewName'}}" data-dtype="String"/>
    </h1>

    <div class="contacts-and-ground">
      <div class="hunting-ground">
        <h3 class="bitd-header">{{localize 'BITD.HuntingGround.Title'}}</h3>
        <ul class="hunting-ground-tips">{{{localize 'BITD.HuntingGround.Tips'}}}</ul>
      </div>
      {{> "systems/bitd/templates/actor/parts/contacts.hbs"}}
    </div>

    <div class="header-fields">

      <div class="brief-info grid-2col">
        <div class="prop">
          <label class="prop-label" for="system.lair">{{localize 'BITD.Lair'}}</label>
          <input class="prop-input clear-input" type="text" name="system.lair" value="{{system.lair}}" data-dtype="String" placeholder="{{localize 'BITD.Lair'}}"/>
        </div>

        <div class="prop">
          <label class="prop-label" for="system.repType">{{localize 'BITD.RepType'}}</label>
          <input class="prop-input clear-input" type="text" name="system.repType" value="{{system.repType}}" data-dtype="String" placeholder="{{localize 'BITD.RepDescription'}}"/>
        </div>
      </div>

      <div class="storage">
        <div class="resource coins">
          <label for="system.coins">{{localize 'BITD.Coins'}}:</label>
          <input class="clear-input" type="number" name="system.coins" value="{{system.coins}}" data-dtype="Number"/>
          <span>/4</span>
        </div>
        <div class="resource vaults">
          <label>{{localize 'BITD.Vaults'}}:</label>
          <input class="clear-input" type="number" name="system.vault" value="{{system.vault}}" data-dtype="Number"/>
          <span>/12</span>
        </div>
      </div>

      <div class="heat-block">
        <div class="heat flexrow">
          <h3 class="bitd-header flexshrink">{{localize 'BITD.Heat'}}</h3>
          <div class="value-step-block" data-value="{{system.heat}}" data-key="system.heat">
            {{#numLoop 9}}
              <span class="value-step value-tooth red-tooth" data-index="{{this}}"></span>
            {{/numLoop}}
          </div>
        </div>
        <div class="wanted-lvl">
          <h3 class="bitd-header">{{localize 'BITD.WantedLvl'}}</h3>
          <div class="value-step-block" data-value="{{system.wanted}}" data-key="system.wanted">
            {{#numLoop 4}}
              <span class="value-step value-tooth small-tooth" data-index="{{this}}"></span>
            {{/numLoop}}
          </div>
        </div>
      </div>

      <div class="tier-block">
        <div class="hold">
          <label for="system.hold">{{localize 'BITD.Hold.Title'}}:</label>
          <select class="clear-select" name="system.hold">
            {{#select system.hold}}
              <option value="weak">{{localize 'BITD.Hold.Weak'}}</option>
              <option value="strong">{{localize 'BITD.Hold.Strong'}}</option>
            {{/select}}
          </select>
        </div>
        <div class="tier">
          <label for="system.tier">{{localize 'BITD.Tier'}}:</label>
          <input class="clear-input" type="number" name="system.tier" value="{{system.tier}}" data-dtype="Number"/>
        </div>
      </div>

      <div class="reputation-block">
        <div class="reputation">
          <h3 class="bitd-header">{{localize 'BITD.Rep'}}</h3>
          <div class="value-step-block" data-value="{{system.rep.value}}" data-key="system.rep.value">
            {{#numLoop system.rep.max}}
              <span class="value-step value-tooth red-tooth" data-index="{{this}}"></span>
            {{/numLoop}}
          </div>
        </div>
        <div class="turf bitd-header">
          <h3>{{localize 'BITD.Turf'}}:</h3>
          <input class="clear-input" type="number" name="system.turf" value="{{system.turf}}" data-dtype="Number"/>
        </div>
      </div>

      <div class="exp-block">
        <h3 class="bitd-header">{{localize 'BITD.CrewExp.ShortTitle'}}</h3>
        <p class="bitd-subheader">{{localize 'BITD.CrewExp.HowItWorks'}}</p>
        <div class="value-step-block" data-value="{{system.exp}}" data-key="system.exp">
          {{#numLoop 6}}
            <span class="value-step value-tooth simple-red-tooth" data-index="{{this}}"></span>
          {{/numLoop}}
        </div>
        <ul class="exp-tips">
          <li>{{playbook.system.exp}}</li>
          {{{localize 'BITD.CrewExp.Tips'}}}
        </ul>
      </div>

    </div>

  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs flexrow" data-group="primary">
    <a class="item" data-tab="claim">{{localize 'BITD.Claim.Title'}}</a>
    <a class="item" data-tab="abilities">{{localize 'BITD.Ability.Plural'}}</a>
    <a class="item" data-tab="notes">{{localize 'BITD.Notes'}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Playbook Tab --}}
    <div class="tab claim" data-group="primary" data-tab="claim">
      This should be map in future
    </div>

    {{!-- Owned Playbook Tab --}}
    <div class="tab abilities-tab" data-group="primary" data-tab="abilities">
      <div class="abilities-container grid-2col">
        <div class="abilities items-block">
          <div class="item-header bitd-header">
            <a class="item-create" title="{{localize 'BITD.ItemAdd'}}" data-type="abilityCrew"><i class="fas fa-plus"></i></a>
            <h3>{{localize 'BITD.Ability.Plural'}}</h3>
          </div>
          {{> "systems/bitd/templates/actor/parts/abilities.hbs"}}
        </div>
        {{> "systems/bitd/templates/actor/parts/upgrades.hbs"}}
      </div>
    </div>

    {{!-- Owned Notes Tab --}}
    <div class="tab notes" data-group="primary" data-tab="notes">
      <div class="description">
        <h3 class="bitd-header">{{localize 'BITD.Notes'}}</h3>
        {{editor enrichedDescription target="system.description" button=true owner=owner editable=editable}}
      </div>
    </div>

  </section>
</form>
