<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header actor-grid">
    <div class="type-container">
      <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
      <div class="crew-type">
        <h1>
          {{#if playbook}}
            {{playbook.name}}
          {{else}}
            {{localize 'BITD.CrewType'}}
          {{/if}}
        </h1>
        {{#if playbook}}
          <p class="playbook-description">{{playbook.system.summary}}</p>
        {{/if}}
      </div>
    </div>

    <div class="name-container">
      <h1 class="crew-name">
        <input class="clear-input" name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'BITD.CrewName'}}"/>
      </h1>

      <div class="brief-info grid-2col">
        <div class="prop">
          <label class="prop-label" for="system.lair">{{localize 'BITD.Lair'}}</label>
          <input class="prop-input clear-input" type="text" name="system.lair" value="{{system.lair}}" placeholder="{{localize 'BITD.Lair'}}"/>
        </div>

        <div class="prop">
          <label class="prop-label" for="system.reputation.type">{{localize 'BITD.RepType'}}</label>
          <input class="prop-input clear-input" type="text" name="system.reputation.type" value="{{system.reputation.type}}" placeholder="{{localize 'BITD.RepDescription'}}"/>
        </div>
      </div>
    </div>

    <div class="hunting-ground">
      <h3 class="bitd-header">{{localize 'BITD.HuntingGround.Title'}}</h3>
      <input class="clear-input all-width" type="text" name="system.hunting.ground" value="{{system.hunting.ground}}" placeholder="{{localize 'BITD.HuntingGround.Title'}}"/>
      <label class="operation-header" for="system.hunting.operation">{{localize 'BITD.HuntingGround.Operation'}}</label>
      <input class="clear-input all-width" type="text" name="system.hunting.operation" value="{{system.hunting.operation}}" placeholder="{{localize 'BITD.HuntingGround.Operation'}}"/>
    </div>

    <div class="header-fields">

      <div class="storage">
        <label for="system.coins">{{localize 'BITD.Coins'}}:</label>
        <input class="clear-input" type="number" name="system.coins.value" value="{{system.coins.value}}" data-dtype="Number"/>
        <span>/{{system.coins.max}}</span>
      </div>

      <div class="heat-block">
        <div class="heat flexrow">
          <h3 class="bitd-header flexshrink">{{localize 'BITD.Heat'}}</h3>
          <div class="value-step-block" data-value="{{system.heat.value}}" data-key="system.heat.value">
            {{#numLoop system.heat.max}}
              <span class="value-step value-tooth red-tooth" data-index="{{this}}"></span>
            {{/numLoop}}
          </div>
        </div>
        <div class="wanted-lvl">
          <h3 class="bitd-header">{{localize 'BITD.WantedLvl'}}</h3>
          <div class="value-step-block" data-value="{{system.wanted.value}}" data-key="system.wanted.value">
            {{#numLoop system.wanted.max}}
              <span class="value-step value-tooth small-tooth" data-index="{{this}}"></span>
            {{/numLoop}}
          </div>
        </div>
      </div>

      <div class="tier-block">
        <div class="hold">
          <label for="system.hold">{{localize 'BITD.Hold.Title'}}:</label>
          <select class="clear-select" name="system.hold">
            {{selectOptions config.holdTypes selected=system.hold localize=true}}
          </select>
        </div>
        <div class="tier">
          <label for="system.tier" class="rollable" data-roll-type="fortune" data-roll-note="{{system.tier.value}}">{{localize 'BITD.Tier'}}:</label>
          <input class="clear-input" type="number" name="system.tier.value" value="{{system.tier.value}}" data-dtype="Number"/>
        </div>
      </div>

      <div class="reputation-block">
        <div class="reputation">
          <h3 class="bitd-header">{{localize 'BITD.Rep'}}</h3>
          <div class="value-step-block" data-value="{{system.reputation.value}}" data-key="system.reputation.value">
            {{#numLoop system.reputation.max}}
              <span class="value-step value-tooth red-tooth" data-index="{{this}}"></span>
            {{/numLoop}}
          </div>
        </div>
        <div class="turf bitd-header">
          <h3>{{localize 'BITD.Turf'}}:</h3>
          <input class="clear-input" type="number" name="system.turf.value" value="{{system.turf.value}}"/>
        </div>
      </div>

    </div>

    <div class="contacts items-block">
      <h3 class="item-header bitd-header contacts-title">{{localize 'BITD.Contact.Plural'}}</h3>
      {{> "systems/bitd/templates/actor/parts/contacts.hbs"}}
    </div>

    <div class="exp-block">
      <h3 class="bitd-header">{{localize 'BITD.CrewExp.ShortTitle'}}</h3>
      <p class="bitd-subheader">{{localize 'BITD.CrewExp.HowItWorks'}}</p>
      <div class="value-step-block" data-value="{{system.exp.value}}" data-key="system.exp.value">
        {{#numLoop system.exp.max}}
          <span class="value-step value-tooth simple-red-tooth" data-index="{{this}}"></span>
        {{/numLoop}}
      </div>
      <ul class="exp-tips">
        <li>{{playbook.system.exp}}</li>
        {{{localize 'BITD.CrewExp.Tips'}}}
      </ul>
    </div>

  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs flexrow" data-group="primary">
    <a class="item" data-tab="general">{{localize 'BITD.General'}}</a>
    <a class="item" data-tab="claim">{{localize 'BITD.ClaimCohort'}}</a>
    <a class="item" data-tab="notes">{{localize 'BITD.Notes'}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Playbook Tab --}}
    <div class="tab general-tab" data-group="primary" data-tab="general">
      <div class="general-container grid-2col">

        <div class="spec-upgrades items-block full-size">
          <div class="item-header bitd-header">
            <a class="item-create" title="{{localize 'BITD.Item.Add'}}" data-type="upgrade"><i class="fas fa-plus"></i></a>
            <h3>{{localize 'BITD.Upgrade.SpecialPlural'}}</h3>
          </div>
          <ol class="items-list">
            {{#each specUpgrades as |item id|}}
              {{> "systems/bitd/templates/actor/parts/upgrades.hbs" item=item}}
            {{/each}}
          </ol>
        </div>

        <div class="upgrades items-block full-size">
          <div class="item-header bitd-header">
            <a class="item-create" title="{{localize 'BITD.Item.Add'}}" data-type="upgrade"><i class="fas fa-plus"></i></a>
            <h3>{{localize 'BITD.Upgrade.Plural'}}</h3>
          </div>
          <ol class="items-list">
            {{#each upgrades as |item id|}}
              {{> "systems/bitd/templates/actor/parts/upgrades.hbs" item=item}}
            {{/each}}
          </ol>
        </div>

        <div class="abilities items-block full-size">
          <div class="item-header bitd-header">
            <a class="item-create" title="{{localize 'BITD.Item.Add'}}" data-type="abilityCrew"><i class="fas fa-plus"></i></a>
            <h3>{{localize 'BITD.Ability.Plural'}}</h3>
          </div>
          {{> "systems/bitd/templates/actor/parts/abilities.hbs"}}
        </div>

      </div>
    </div>

    {{!-- Owned Playbook Tab --}}
    <div class="tab claim" data-group="primary" data-tab="claim">
      <div class="claims-container grid-2col">
        {{> "systems/bitd/templates/actor/parts/claims.hbs"}}
        {{> "systems/bitd/templates/actor/parts/cohorts.hbs"}}
      </div>
    </div>

    {{!-- Owned Notes Tab --}}
    <div class="tab crew-notes" data-group="primary" data-tab="notes">
      <div class="notes-container actor-grid">
        <div class="goals items-block">
          <h3 class="bitd-header">{{localize 'BITD.Goals'}}</h3>
          <ol class="items-list" data-array="goals">
            {{#each system.goals as |goal|}}
              <li class="item link goal" data-id="{{goal.id}}">
                <img class="clock-img" src="{{goal.img}}"/>
                <div class="item-description">
                  <a class="clock-name actor-open" data-uuid="{{goal.uuid}}">{{goal.name}}</a>
                  <span class="link-controls">
                    <a class="item-control actor-delete" title="{{localize 'BITD.Link.Delete'}}"><i class="fas fa-trash"></i></a>
                  </span>
                </div>
              </li>
            {{/each}}
          </ol>
        </div>

        <div class="related-faction items-block">
          <h3 class="bitd-header">{{localize 'BITD.Factions'}}</h3>
          <ol class="items-list" data-array="relatedFactions">
            {{#each system.relatedFactions as |faction|}}
              <li class="item faction" data-id="{{faction.id}}">
                <div class="item-description">
                  <span class="item-name">{{faction.name}}</span>
                  <span class="tier-styled" style="--tier:{{faction.tier}}"></span>
                  <select class="clear-select set-status" data-index="{{@index}}">
                    {{selectOptions @root.config.statusTypes selected=faction.status localize=true}}
                  </select>
                </div>
                <div class="item-controls">
                  <a class="item-control actor-open" title="{{localize 'BITD.Link.Open'}}" data-uuid="{{faction.uuid}}"><i class="fa fa-external-link"></i></a>
                  <a class="item-control actor-delete" title="{{localize 'BITD.Link.Delete'}}"><i class="fas fa-trash"></i></a>
                </div>
              </li>
            {{/each}}
          </ol>
        </div>

        <div class="description">
          <h3 class="bitd-header">{{localize 'BITD.Notes'}}</h3>
          {{editor enrichedDescription target="system.description" rollData=rollData button=true engine="prosemirror" editable=editable collaborate=true}}
        </div>
      </div>
    </div>

  </section>
</form>
