<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header actor-grid">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
    <div class="header-fields">
      <h1 class="character-name"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'BITD.ActorName'}}"/></h1>
      <div class="brief-info">
        <div class="prop">
          <label class="prop-label rollable" data-roll-type="fortune" for="system.tier">{{localize 'BITD.Tier'}}:</label>
          <input class="prop-input clear-input" type="number" name="system.tier"  value="{{system.tier}}" data-dtype="Number" placeholder="0"></input>
          <select class="clear-select" name="system.hold">
            {{#select system.hold}}
              <option value="weak">{{localize 'BITD.Hold.Weak'}}</option>
              <option value="strong">{{localize 'BITD.Hold.Strong'}}</option>
            {{/select}}
          </select>
        </div>
        <div class="prop">
          <label class="prop-label" for="system.status">{{localize 'BITD.Status.Title'}}:</label>
          <select class="clear-select" name="system.status">
            {{#select system.status}}
              <option value="3">{{localize 'BITD.Status.Allies'}}</option>
              <option value="2">{{localize 'BITD.Status.Friendly'}}</option>
              <option value="1">{{localize 'BITD.Status.Helpful'}}</option>
              <option value="0">{{localize 'BITD.Status.Neutral'}}</option>
              <option value="-1">{{localize 'BITD.Status.Interfering'}}</option>
              <option value="-2">{{localize 'BITD.Status.Hostile'}}</option>
              <option value="-3">{{localize 'BITD.Status.War'}}</option>
            {{/select}}
          </select>
        </div>
        <input class="prop summary all-with" name="system.summary" type="text" value="{{system.summary}}" placeholder="{{localize 'BITD.Summary'}}" data-dtype="String"></input>
      </div>
    </div>

  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs flexrow" data-group="primary">
    <a class="item" data-tab="general">{{localize 'BITD.General'}}</a>
    <a class="item" data-tab="notes">{{localize 'BITD.Notes'}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Playbook Tab --}}
    <div class="tab general" data-group="primary" data-tab="general">

      <div class="goals prop-field">
        <div class="show-for-limited" data-tooltip="{{localize 'BITD.ShowForPlayers.Tooltip'}}">
          <label for="system.goals.show">{{localize 'BITD.ShowForPlayers.Title'}}</label>
          <input class="show-checkbox" type="checkbox" name="system.goals.show" data-dtype="Boolean" {{#if system.goals.show}} checked {{/if}}></input>
        </div>
        <label class="prop-lable" for="system.goals">{{localize 'BITD.Goals'}}:</label>
        <input class="all-with" name="system.goals.value" type="text" value="{{system.goals.value}}" data-dtype="String"></input>
      </div>

      <div class="lair prop-field">
        <div class="show-for-limited" data-tooltip="{{localize 'BITD.ShowForPlayers.Tooltip'}}">
          <label for="system.lair.show">{{localize 'BITD.ShowForPlayers.Title'}}</label>
          <input class="show-checkbox" type="checkbox" name="system.lair.show" data-dtype="Boolean" {{#if system.lair.show}} checked {{/if}}></input>
        </div>
        <label class="prop-lable" for="system.lair">{{localize 'BITD.Lair'}}:</label>
        <input class="all-with" name="system.lair.value" type="text" value="{{system.lair.value}}" data-dtype="String"></input>
      </div>

      <div class="notable-assets prop-field">
        <div class="show-for-limited" data-tooltip="{{localize 'BITD.ShowForPlayers.Tooltip'}}">
          <label for="system.assets.show">{{localize 'BITD.ShowForPlayers.Title'}}</label>
          <input class="show-checkbox" type="checkbox" name="system.assets.show" data-dtype="Boolean" {{#if system.assets.show}} checked {{/if}}></input>
        </div>
        <label class="prop-lable" for="system.assets">{{localize 'BITD.NotableAssets'}}:</label>
        <input class="all-with" name="system.assets.value" type="text" value="{{system.assets.value}}" data-dtype="String"></input>
      </div>

      <div class="quirks prop-field">
        <div class="show-for-limited" data-tooltip="{{localize 'BITD.ShowForPlayers.Tooltip'}}">
          <label for="system.quirks.show">{{localize 'BITD.ShowForPlayers.Title'}}</label>
          <input class="show-checkbox" type="checkbox" name="system.quirks.show" data-dtype="Boolean" {{#if system.quirks.show}} checked {{/if}}></input>
        </div>
        <label class="prop-lable" for="system.quirks">{{localize 'BITD.Quirks'}}:</label>
        <input class="all-with" name="system.quirks.value" type="text" value="{{system.quirks.value}}" data-dtype="String"></input>
      </div>

      <div class="turf prop-field items-block full-size">
        <div class="show-for-limited" data-tooltip="{{localize 'BITD.ShowForPlayers.Tooltip'}}">
          <input class="show-checkbox" type="checkbox" name="system.showTurf" data-dtype="Boolean" {{#if system.showTurf}} checked {{/if}}></input>
        </div>
        <div class="item-header bitd-header">
          <a class="item-create" title="{{localize 'BITD.ItemAdd'}}" data-type="claim"><i class="fas fa-plus"></i></a>
          <h3>{{localize 'BITD.Turf'}}</h3>
        </div>
        <ol class="items-list">
          {{#each claims as |item id|}}
            <li class="item {{item.type}}" data-item-id="{{item._id}}">
              <div class="item-description">
                <span class="item-name">{{item.name}}</span>
              </div>

              <div class="item-summary">
                <p class="effect"><b>{{localize 'BITD.Claim.Effect'}}:</b> {{system.effect}}</p>
                {{{item.system.description}}}
              </div>

              <div class="item-controls">
                <a class="item-control show-item" data-roll-type="show" title="{{localize 'BITD.ItemShow'}}"><i class="fa fa-comment"></i></a>
                <a class="item-control item-edit" title="{{localize 'BITD.ItemEdit'}}"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" title="{{localize 'BITD.ItemDelete'}}"><i class="fas fa-trash"></i></a>
              </div>
            </li>
          {{/each}}
        </ol>
      </div>

      <div class="npcs prop-field">
        <div class="show-for-limited" data-tooltip="{{localize 'BITD.ShowForPlayers.Tooltip'}}">
          <input class="show-checkbox" type="checkbox" name="system.showNPC" data-dtype="Boolean" {{#if system.showNPC}} checked {{/if}}></input>
        </div>
        <h3 class="bitd-header">{{localize 'BITD.NPCs'}}</h3>
        <div class="grid-2col">
          {{> "systems/bitd/templates/actor/parts/contacts.hbs"}}
          <div class="links">
            <div class="item-header bitd-header">
              <h3 class="contacts-title">{{localize 'BITD.ActorPlural'}}</h3>
            </div>
            <div class="link-block">
              {{#each system.npc}}
                <p>{{> "systems/bitd/templates/item/parts/linked-item.hbs"}}</p>
              {{/each}}
            </div>
          </div>
        </div>
      </div>

      <div class="related-faction prop-field grid-2col">
        <div class="show-for-limited" data-tooltip="{{localize 'BITD.ShowForPlayers.Tooltip'}}">
          <input class="show-checkbox" type="checkbox" name="system.showRelatedFactions" data-dtype="Boolean" {{#if system.showRelatedFactions}} checked {{/if}}></input>
        </div>
        <div class="allies">
          <h3 class="bitd-header">{{localize 'BITD.Allies'}}</h3>
          <input class="clear-input all-with" name="system.allies" type="text" value="{{system.allies}}" placeholder="{{localize 'BITD.Allies'}}" data-dtype="String"></input>
        </div>
        <div class="enemies">
          <h3 class="bitd-header">{{localize 'BITD.Enemies'}}</h3>
          <input class="clear-input all-with" name="system.enemies" type="text" value="{{system.enemies}}" placeholder="{{localize 'BITD.Enemies'}}" data-dtype="String"></input>
        </div>
      </div>

    </div>

    {{!-- Owned Notes Tab --}}
    <div class="tab notes" data-group="primary" data-tab="notes">
      <div class="situation">
        <h3 class="bitd-header">{{localize 'BITD.Situation'}}</h3>
        {{editor enrichedSituation target="system.situation" rollData=rollData button=true owner=owner editable=editable}}
      </div>
      <div class="description">
        <h3 class="bitd-header">{{localize 'BITD.Description'}}</h3>
        {{editor enrichedDescription target="system.description" rollData=rollData button=true owner=owner editable=editable}}
      </div>
    </div>

  </section>
</form>
