<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header actor-grid">

    <img class="character-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>

    <div class="header-fields">
      <h1 class="character-name"><input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'BITD.ActorName'}}"/></h1>
    </div>

  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <hr>
    {{editor enrichedDescription target="system.description" rollData=rollData button=true owner=owner editable=editable}}
  </section>
</form>
