<form class="{{cssClass}} {{actor.type}}" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header actor-grid">
    <div class="img-block grid-2col">
      <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>

      <div class="money">
        <div class="resource coins">
          <label for="system.coins">{{localize 'BITD.Actor.Coins'}}:</label>
          <input class="clear-input" type="number" name="system.coins.value" value="{{system.coins.value}}"/>
          <span>/{{system.coins.max}}</span>
        </div>
        <div class="resource stash">
          <label class="rollable" data-roll-type="fortune" data-roll-note="{{system.stash.lifestyle}}" title="{{localize 'BITD.Roll.Title'}}" for="system.stash">{{localize 'BITD.Scoundrel.Stash'}}:</label>
          <input class="clear-input" type="number" name="system.stash.value" value="{{system.stash.value}}" data-dtype="Number"/>
          <span>/{{system.stash.max}}</span>
        </div>
        <div class="stash-track" data-value="{{system.stash.lifestyle}}">
          {{#numLoop 4}}
            <div class="stash-box" data-index="{{this}}"></div>
          {{/numLoop}}
        </div>
      </div>

      <div class="load">
        <span>{{localize 'BITD.Scoundrel.Load.Title'}}: {{system.load.value}}/{{system.load.max}}</span>
        <select class="clear-select" name="system.load.status">
          {{selectOptions config.load selected=system.load.status localize=true}}
        </select>
      </div>
    </div>

    <div class="header-fields">
      <div class="name-alias grid-2col">
        <h1 class="scoundrel-name">
          <input class="clear-input" name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'BITD.Actor.HumanName'}}"/>
        </h1>
        <h2 class="scoundrel-alias">
          <input class="clear-input" name="system.alias" type="text" value="{{system.alias}}" placeholder="{{localize 'BITD.Actor.Alias'}}"/>
        </h2>
      </div>

      <div class="brief-info">
        <div class="prop">
          <label class="prop-label" for="system.vice">{{localize 'BITD.Scoundrel.Vice'}}:</label>
          <input class="prop-input clear-input" type="text" name="system.vice" value="{{system.vice}}" placeholder="{{localize 'BITD.Scoundrel.Vice'}}"/>
        </div>
        <div class="prop">
          <label class="prop-label" for="system.look">{{localize 'BITD.Scoundrel.Look'}}:</label>
          <input class="prop-input clear-input" type="text" name="system.look" value="{{system.look}}" placeholder="{{localize 'BITD.Scoundrel.Look'}}"/>
        </div>
      </div>

      {{> "systems/bitd/templates/actor/parts/attributes.hbs"}}
      {{> "systems/bitd/templates/actor/parts/stress-trauma.hbs"}}
    </div>

    <div class="contacts items-block">
      <h3 class="item-header bitd-header contacts-title">{{localize 'BITD.Contact.Plural'}}</h3>
      {{> "systems/bitd/templates/actor/parts/contacts.hbs"}}
    </div>
    {{> "systems/bitd/templates/actor/parts/harm.hbs"}}

  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs flexrow" data-group="primary">
    <a class="item" data-tab="general">
      {{#if playbook}}
        {{playbook.name}}
      {{else}}
        {{localize 'TYPES.Item.playbook'}}
      {{/if}}
    </a>
    <a class="item" data-tab="notes">{{localize 'BITD.Notes'}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Playbook Tab --}}
    <div class="tab general" data-group="primary" data-tab="general">
      <div class="general-container actor-grid">

        <div class="inventory-container">

          <div class="spec-inventory items-block">
            <div class="item-header bitd-header">
              <h3>{{localize 'BITD.Scoundrel.Inventory.Special'}}</h3>
              <a class="item-create" title="{{localize 'BITD.Item.Add'}}" data-type="tool"><i class="fas fa-plus"></i></a>
            </div>
            <ol class="items-list">
              {{#each specInventory as |item id|}}
                {{> "systems/bitd/templates/actor/parts/inventory.hbs" item=item}}
              {{/each}}
            </ol>
          </div>

          <div class="inventory items-block">
            <div class="item-header bitd-header">
              <h3>{{localize 'BITD.Scoundrel.Inventory.Common'}}</h3>
            </div>
            <ol class="items-list">
              {{#each inventory as |item id|}}
                {{> "systems/bitd/templates/actor/parts/inventory.hbs" item=item}}
              {{/each}}
            </ol>
          </div>

        </div>

        <div class="abilities-cohorts">

          <div class="abilities items-block full-size">
            <div class="item-header bitd-header">
              <a class="item-create" title="{{localize 'BITD.Item.Add'}}" data-type="abilityScoundrel"><i class="fas fa-plus"></i></a>
              <h3>{{localize 'BITD.Ability.PluralSpecial'}}</h3>
              <div class="value-step-block exp-block" data-value="{{system.exp.value}}" data-key="system.exp.value">
                {{#numLoop system.exp.max}}
                  <span class="value-step value-tooth simple-red-tooth" data-index="{{this}}"></span>
                {{/numLoop}}
              </div>
            </div>
            {{> "systems/bitd/templates/actor/parts/abilities.hbs"}}
          </div>

          {{> "systems/bitd/templates/actor/parts/cohorts.hbs"}}
        </div>
      </div>
    </div>

    {{!-- Owned Notes Tab --}}
    <div class="tab notes" data-group="primary" data-tab="notes">
      {{> "systems/bitd/templates/actor/parts/scoundrel-notes.hbs"}}
    </div>

  </section>
</form>
