<div class="claims-map grid-{{data.columns}}col">
  {{#each data.map}}
    <div class="item claim {{#if this.active}}active{{/if}}" data-item-id="{{this.id}}" data-claimType="{{this.type}}" data-index={{@index}}>
      <a class="claim-move move-left" title="{{localize 'BITD.Claim.Move.Left'}}" data-direction="left"><i class="fa-solid fa-caret-left"></i></a>
      <a class="claim-move move-up" title="{{localize 'BITD.Claim.Move.Up'}}" data-direction="up"><i class="fa-solid fa-caret-up"></i></a>

      {{#iff this.type "==" "claim"}}
        <div class="item-summary">
          <p class="name">{{this.name}}</p>
          <p class="effect">{{this.effect}}</p>
        </div>

        <div class="item-controls">
          <a class="item-control claim-open" title="{{localize 'BITD.Item.Edit'}} " data-uuid="{{this.uuid}}"><i class="fa fa-external-link"></i></a>
          <a class="item-control claim-delete" title="{{localize 'BITD.Item.Delete'}}"><i class="fas fa-trash"></i></a>
        </div>
      {{/iff}}

      {{#iff this.type "==" "turf"}}
        <p class="name">{{localize "BITD.Claim.Turf"}}</p>
      {{/iff}}

      {{#iff this.type "==" "home"}}
        <p class="name">{{localize "BITD.Crew.Lair"}}</p>
      {{/iff}}

      <a class="claim-move move-right" title="{{localize 'BITD.Claim.Move.Right'}}" data-direction="right"><i class="fa-solid fa-caret-right"></i></a>
      <a class="claim-move move-down" title="{{localize 'BITD.Claim.Move.Down'}}" data-direction="down"><i class="fa-solid fa-caret-down"></i></a>
    </div>
  {{/each}}
</div>
