<span class="link-container">
  <a class="content-link" draggable="true" data-uuid={{this.uuid}} data-id={{this.id}} data-type="Item" data-tooltip={{this.title}}><i class="fas fa-suitcase"></i>{{this.name}}</a>
  <a class="link-control link-delete" title="{{localize 'BITD.ItemDelete'}}"><i class="fas fa-trash"></i></a>
</span>
