<form class="edit-hunting-form">
  <div>
    <label for="customName">{{localize 'BITD.HuntingGround.CustomName'}}:</label>
    <input class="custom-name clear-input" type="text" data-dtype="String" name="customName" value="{{customName}}"/>
  </div>
  <div>
    <label for="ground">{{localize 'BITD.HuntingGround.Title'}}:</label>
    <textarea class="hunting-grounds auto-grow" name="ground">{{ground}}</textarea>
  </div>
  <div>
    <label for="operation">{{localize 'BITD.HuntingGround.Operation'}}:</label>
    <textarea class="operation-type auto-grow" name="operation">{{operation}}</textarea>
  </div>
</form>
