<form class="roll-dice-form">
  <div class="roll-type">
    <label for="roll-type">{{localize 'BITD.Roll.Type.Title'}}: </label>
    <select id="roll-type" class="clear-select" name="rollType" data-type="String">
      {{selectOptions type selected=defaultType localize=true}}
    </select>
  </div>

  <div class="general-info">
    <div class="roll-as optional" data-connected="information">
      <label for="roll-as">{{localize 'BITD.Roll.GatherInformation.RollAs'}}: </label>
      <select id="roll-as" class="clear-select" name="rollAs" data-type="String">
        {{selectOptions rollAs selected="action" localize=true}}
      </select>
    </div>

    <div class="attributes optional" data-connected="resistance">
      <label for="attribute">{{localize 'BITD.Attributes.Attribute'}}: </label>
      <select id="attribute" class="clear-select" name="attribute" data-type="String">
        {{selectOptions attributes selected=defaultAttribute localize=true}}
      </select>
    </div>

    <div class="action optional" data-connected="action">
      <label for="action">{{localize 'BITD.Aclions.Action'}}: </label>
      <select id="action" class="clear-select" name="action" data-type="String">
        {{selectOptions actions selected=defaultAction localize=true}}
      </select>
    </div>
  </div>

  <div class="grid-2col roll-dice">
    <div class="dice-number">
      <label for="dice-number">{{localize 'BITD.Roll.DiceNumber'}}: </label>
      <input id="dice-number" name="diceNumber" type="number" value="{{diceNumber}}" data-dtype="Number">
    </div>

    <div>
      <input id="assistance" name="assistance" type="checkbox" data-dtype="Boolean">
      <label class="checkbox-label" for="assistance">{{localize 'BITD.Roll.Bonus.Assistance'}}</label>
    </div>

    <div class="modifier">
      <label for="modifier">{{localize 'BITD.Roll.Modifier'}}: </label>
      <input id="modifier" name="modifier" type="number" value="0" data-dtype="Number">
    </div>

    <div>
      <input id="pushEffect" name="pushEffect" type="checkbox" data-dtype="Boolean">
      <label class="checkbox-label" for="pushEffect">{{localize 'BITD.Roll.Bonus.PushEffect'}}</label>
    </div>
  </div>

  <div class="push-or-devil">
    <h4 for="push-or-dice">{{localize 'BITD.Roll.Bonus.AddDice'}}</h4>

    <div>
      <input id="pushDice" name="pushDice" type="checkbox" data-dtype="Boolean">
      <label class="checkbox-label" for="pushDice">{{localize 'BITD.Roll.Bonus.Push'}}</label>
    </div>

    <span>{{localize 'BITD.Roll.Bonus.or'}}</span>

    <div>
      <input id="devisBargain" name="devisBargain" type="checkbox" data-dtype="Boolean">
      <label class="checkbox-label" for="devisBargain">{{localize 'BITD.Roll.Bonus.DevilsBargain'}}</label>
    </div>
  </div>

  <div class="position-and-effect optional" data-connected="action">
    <h4 for="position-and-effect">{{localize 'BITD.Roll.PositionEffect'}}</h4>

    <div class="position optional" data-connected="action">
      <label>{{localize 'BITD.Roll.Position.Title'}}:</label>
      <select id="position" class="clear-select" name="position" data-type="Number">
        {{selectOptions position selected="risky" localize=true}}
      </select>
    </div>

    <div class="effect optional" data-connected="action">
      <label>{{localize 'BITD.Roll.Effect.Title'}}:</label>
      <select id="effect" class="clear-select" name="effect" data-type="Number">
        {{selectOptions effect selected="standard" localize=true}}
      </select>
    </div>
  </div>

  <div class="useful-info">
    <ul class="optional" data-connected="engagement">
      <li>{{{localize 'BITD.Roll.Engagement.Operation'}}}</li>
      <li>{{{localize 'BITD.Roll.Engagement.Plan'}}}</li>
      <li>{{{localize 'BITD.Roll.Engagement.Contact'}}}</li>
      <li>{{{localize 'BITD.Roll.Engagement.Other'}}}</li>
    </ul>
  </div>
</form>
