<form class="add-trauma-form">
  {{#each currentTraumas as |trauma|}}
    <a class="trauma active" data-value={{trauma}}>{{localize trauma}}</a>
  {{/each}}

  {{#each filteredTraumas as |trauma|}}
    <a class="trauma" data-value={{trauma}}>{{localize trauma}}</a>
  {{/each}}

  <input class="trauma custom-trauma" type="text" data-dtype="String" placeholder="{{localize 'BITD.Scoundrel.Traumas.Custom'}}"/>
</form>
