<form class="add-trauma-form grid-2col">
  {{#each currentTraumas as |trauma|}}
    <a class="trauma active" data-value={{trauma}}>{{localize trauma}}</a>
  {{/each}}

  {{#each filteredTraumas as |trauma|}}
    <a class="trauma" data-value={{trauma}}>{{localize trauma}}</a>
  {{/each}}

  <label class="custom-trauma">{{localize 'BITD.Traumas.Custom'}}:</label>
  <input class="custom-trauma" type="text" data-dtype="String" placeholder="{{localize 'BITD.Traumas.Custom'}}"/>
</form>
