<form class="{{cssClass}}" autocomplete="off">
  <header class="items-header">
    <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="item-name"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'BITD.ItemName'}}"/></h1>
      <div class="brief-info">
        <div class="prop">
          <label class="prop-label" for="system.active">{{localize 'BITD.Ability.IsActive'}}</label>
          <input class="prop-input" type="checkbox" name="system.active" data-dtype="Boolean" {{#if system.active}} checked {{/if}}></input>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <hr>
    {{editor enrichedDescription target="system.description" rollData=rollData button=true owner=owner editable=editable}}
  </section>

</form>
