<form class="{{cssClass}} {{item.type}}" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="items-header">

    <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>

    <div class="header-fields">
      <h1 class="item-name"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'BITD.ItemName'}}"/></h1>
      <div class="brief-info">
        <div class="prop">
          <label class="prop-label" for="system.harm">{{localize 'BITD.Harm'}}:</label>
          <select class="clear-select" name="system.harm">
            {{selectOptions config.cohort.harm selected=system.harm localize=true}}
          </select>
        </div>
        <div class="prop">
          <input class="prop-input" type="checkbox" name="system.armor" {{checked system.armor}}></input>
          <label class="prop-label" for="system.armor">{{localize 'BITD.Cohort.Armor'}}</label>
        </div>
      </div>
    </div>

  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <hr>

    <div class="brief-info">
      <div class="prop">
        <label class="prop-label" for="system.type">{{localize 'BITD.Cohort.Type.Title'}}:</label>
        <select class="prop clear-select" name="system.type">
          {{selectOptions config.cohort.types selected=system.type localize=true}}
        </select>
      </div>
      <div class="prop">
        <input class="prop-input" type="checkbox" name="system.elite" {{checked system.elite}}></input>
        <label class="prop-label" for="system.elite">{{localize 'BITD.Cohort.Elite'}}</label>
      </div>
      <div class="specialisation">
        <label class="prop-label" for="system.specialisation">{{localize 'BITD.Cohort.Specializations'}}:</label>
        <input class="prop-input clear-input" name="system.specialisation" type="text" value="{{system.specialisation}}"></input>
      </div>
    </div>

    <div class="edges">
      <h3>{{localize 'BITD.Cohort.Edges'}}:</h3>
      <textarea name="system.edges">{{system.edges}}</textarea>
    </div>

    <div class="flaws">
      <h3>{{localize 'BITD.Cohort.Flaws'}}:</h3>
      <textarea name="system.flaws">{{system.flaws}}</textarea>
    </div>

    <h3>{{localize 'BITD.Description'}}</h3>
    {{editor enrichedDescription target="system.description" rollData=rollData button=true engine="prosemirror" editable=editable collaborate=true}}
  </section>
</form>
