<form class="{{cssClass}} {{item.type}}" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="items-header">

    <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>

    <div class="header-fields">
      <h1 class="item-name"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'BITD.ItemName'}}"/></h1>
      <div class="brief-info">
        <select class="prop clear-select" name="system.type">
          {{selectOptions config.cohort.types selected=system.type localize=true}}
        </select>
        {{#iff system.type "==" "gang"}}
          <select class="prop clear-select" name="system.specialisation">
            {{selectOptions config.cohort.gangTypes selected=system.specialisation localize=true}}
          </select>
        {{/iff}}
        <div class="prop">
          <label class="prop-label" for="system.elite">{{localize 'BITD.Cohort.Elite'}}</label>
          <input class="prop-input" type="checkbox" name="system.elite" {{checked system.elite}}></input>
        </div>
        <div class="prop">
          <label class="prop-label" for="system.armor">{{localize 'BITD.Cohort.Armor'}}</label>
          <input class="prop-input" type="checkbox" name="system.armor" {{checked system.armor}}></input>
        </div>
      </div>
    </div>

  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <hr>
    <div class="harm">
      <label>{{localize 'BITD.Harm'}}:</label>
      <select class="clear-select" name="system.harm">
        {{selectOptions config.cohort.harm selected=system.harm localize=true}}
      </select>
    </div>

    {{#iff system.type "==" "expert"}}
      <div class="specialisation">
        <input class="all-width" name="system.specialisation" type="text" value="{{system.specialisation}}"></input>
      </div>
    {{/iff}}

    <div class="edges">
      <h3>{{localize 'BITD.Cohort.Edges'}}:</h3>
      <textarea name="system.edges">{{system.edges}}</textarea>
    </div>

    <div class="flaws">
      <h3>{{localize 'BITD.Cohort.Flaws'}}:</h3>
      <textarea name="system.flaws">{{system.flaws}}</textarea>
    </div>

    <h3>{{localize 'BITD.Description'}}</h3>
    {{editor enrichedDescription target="system.description" rollData=rollData button=true engine="prosemirror" editable=editable collaborate=true}}
  </section>
</form>
