<form class="{{cssClass}} {{item.type}}" autocomplete="off">
  <header class="items-header">
    <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="item-name"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'BITD.ItemName'}}"/></h1>
      <input class="summary all-width" name="system.summary" type="text" value="{{system.summary}}" placeholder="{{localize 'BITD.Summary'}}" data-dtype="String"></input>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs flexrow" data-group="primary">
    <a class="item" data-tab="general">{{localize 'BITD.General'}}</a>
    <a class="item" data-tab="links">{{localize 'BITD.Links'}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Playbook Tab --}}
    <div class="tab general" data-group="primary" data-tab="general">
      <div class="exp-clues">
        <h3>{{localize 'BITD.CrewExp.Title'}}:</h3>
        <input class="all-width" name="system.exp" type="text" value="{{system.exp}}" placeholder="{{localize 'BITD.CrewExp.Placeholder'}}" data-dtype="String"></input>
      </div>

      <h3>{{localize 'BITD.Description'}}</h3>
      {{editor enrichedDescription target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Owned Notes Tab --}}
    <div class="tab links" data-group="primary" data-tab="links">
      <div class="abilities-block linked-items" data-array="abilities">
        <h3>{{localize 'BITD.Ability.Plural'}}</h3>
        <div class="link-block">
          {{#each system.abilities}}
            {{> "systems/bitd/templates/item/parts/linked-item.hbs"}}
          {{/each}}
        </div>
      </div>

      <div class="upgrades-block linked-items" data-array="upgrades">
        <h3>{{localize 'BITD.Upgrade.Plural'}}</h3>
        <div class="link-block">
          {{#each system.upgrades}}
            {{> "systems/bitd/templates/item/parts/linked-item.hbs"}}
          {{/each}}
        </div>
      </div>

      <div class="claims-block linked-items" data-array="claims">
        <h3>{{localize 'BITD.Claim.Plural'}}</h3>
        <div class="link-block">
          {{#each system.claims}}
            {{> "systems/bitd/templates/item/parts/linked-item.hbs"}}
          {{/each}}
        </div>
      </div>

      <div class="cohorts-block linked-items" data-array="cohorts">
        <h3>{{localize 'BITD.Cohort.Plural'}}</h3>
        <div class="link-block">
          {{#each system.cohorts}}
            {{> "systems/bitd/templates/item/parts/linked-item.hbs"}}
          {{/each}}
        </div>
      </div>

      <div class="relationship-block linked-items" data-array="relationship">
        <h3>{{localize 'BITD.Contact.Plural'}}</h3>
        <div class="link-block">
          {{#each system.relationship}}
            {{> "systems/bitd/templates/item/parts/linked-item.hbs"}}
          {{/each}}
        </div>
      </div>
    </div>

  </section>

</form>
