<form class="{{cssClass}} {{item.type}}" autocomplete="off">
  <header class="items-header">
    <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="item-name"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'BITD.ItemName'}}"/></h1>
      <input class="summarize" name="system.summarize" type="text" value="{{system.summarize}}" placeholder="{{localize 'BITD.Summarize'}}" data-dtype="String"></input>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs flexrow" data-group="primary">
    <a class="item" data-tab="general">{{localize 'BITD.General'}}</a>
    <a class="item" data-tab="links">{{localize 'BITD.Links'}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Playbook Tab --}}
    <div class="tab general" data-group="primary" data-tab="general">
      <div class="exp-clues">
        <h3>{{localize 'BITD.PlaybookExp.Title'}}:</h3>
        <input name="system.exp" type="text" value="{{system.exp}}" placeholder="{{localize 'BITD.PlaybookExp.Placeholder'}}" data-dtype="String"></input>
      </div>

      <h3>{{localize 'BITD.Description'}}</h3>
      {{editor enrichedDescription target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Owned Notes Tab --}}
    <div class="tab links" data-group="primary" data-tab="links">
      <div class="abilities-block linked-items" data-array="abilities">
        <h3>{{localize 'BITD.Ability.Plural'}}</h3>
        {{#each system.abilities}}
          {{> "systems/bitd/templates/item/parts/linked-item.hbs"}}
        {{/each}}
      </div>

      <div class="contacts-block linked-items" data-array="contacts">
        <h3>{{localize 'BITD.Contacts'}}</h3>
        {{#each system.contacts}}
          {{> "systems/bitd/templates/item/parts/linked-item.hbs"}}
        {{/each}}
      </div>

      <div class="inventory-block linked-items" data-array="inventory">
        <h3>{{localize 'BITD.PlaybookItems'}}</h3>
        {{#each system.inventory}}
          {{> "systems/bitd/templates/item/parts/linked-item.hbs"}}
        {{/each}}
      </div>
    </div>

  </section>

</form>
