<form class="{{cssClass}} {{item.type}}" autocomplete="off">
  <header class="items-header">
    <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="item-name"><input name="name" type="text" value="{{item.name}}" placeholder="{{localize 'BITD.Item.Name'}}"/></h1>
      <input class="summary all-width" name="system.summary" type="text" value="{{system.summary}}" placeholder="{{localize 'BITD.Playbook.Summary'}}" data-dtype="String"></input>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs flexrow" data-group="primary">
    <a class="item" data-tab="general">{{localize 'BITD.General'}}</a>
    <a class="item" data-tab="links">{{localize 'BITD.Link.Plural'}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned Playbook Tab --}}
    <div class="tab general" data-group="primary" data-tab="general">
      <div class="attribute-block grid-3col">
        {{#each config.attributeLinks as |attribute key|}}
          <div class="attribute {{key}}">
            <h3 class="attribute-name" data-tooltip="{{getLocalize "BITD.Attributes.Description." key}}">{{getLocalize "BITD.Attributes." key}}</h3>
            {{#each attribute as |action|}}
              <div class="action {{action}}">
                <div class="value-step-block" data-value="{{getValue @root.system.actions action}}" data-key="system.actions.{{action}}">
                  {{#numLoop 4}}
                    <span class="value-step value-dot" data-index="{{this}}"></span>
                  {{/numLoop}}
                </div>
                <label class="action-label" data-tooltip="{{getLocalize "BITD.Actions.Description." action}}">{{getLocalize "BITD.Actions." action}}</label>
              </div>
            {{/each}}
          </div>
        {{/each}}
      </div>

      <div class="exp-clues">
        <h3>{{localize 'BITD.Playbook.Exp.Clue'}}:</h3>
        <input class="all-width" name="system.exp" type="text" value="{{system.exp}}" placeholder="{{localize 'BITD.Playbook.Exp.Placeholder'}}" data-dtype="String"></input>
      </div>

      <h3>{{localize 'BITD.Description'}}</h3>
      {{editor enrichedDescription target="system.description" rollData=rollData button=true engine="prosemirror" editable=editable collaborate=true}}
    </div>

    {{!-- Owned Notes Tab --}}
    <div class="tab links" data-group="primary" data-tab="links">
      <div class="abilities-block linked-items" data-array="abilities">
        <h3>{{localize 'BITD.Ability.Plural'}}</h3>
        <div class="link-block">
          {{#each system.abilities}}
            {{> "systems/bitd/templates/item/parts/linked-item.hbs"}}
          {{/each}}
        </div>
      </div>

      <div class="inventory-block linked-items" data-array="inventory">
        <h3>{{localize 'BITD.Item.Plural'}}</h3>
        <div class="link-block">
          {{#each system.inventory}}
            {{> "systems/bitd/templates/item/parts/linked-item.hbs"}}
          {{/each}}
        </div>
      </div>

      <div class="contacts-block linked-items" data-array="contacts">
        <h3>{{localize 'BITD.Contact.Plural'}}</h3>
        <div class="link-block">
          {{#each system.contacts}}
            {{> "systems/bitd/templates/item/parts/linked-item.hbs"}}
          {{/each}}
        </div>
      </div>
    </div>

  </section>

</form>
